@import variables

@import ../libs/bootstrap-sass/assets/stylesheets/bootstrap 
// @import ../libs/font-awesome/scss/font-awesome
header
	background-color: #fcdb00
#myNavbar
	li 
		font-size: 2rem
		font-weight: bold

.item--info
	margin-top: 25%
	margin-bottom: 65%
	h2 
		
		margin-bottom: 20px
		font-size: 3rem
		font-weight: bold
	h4
		margin-bottom: 20px
.icons
	text-align: left
	margin-left: -18%
	li
		display: inline-block
		margin: 10% 8% 0

