doctype html
html
	head
		title Wellmux Test
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/main.css")
		link(rel="icon" href="./img/logo.png")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	body
		header
			.container
				.navbar.navbar-default
					.container-fluid
						.navbar-header
							button(type="button" data-toggle="collapse" data-target="#myNavbar").navbar-toggle
								span.icon-bar
								span.icon-bar
								span.icon-bar
							img(src="img/logo.png").navbar-brand
							a(href="#").navbar-brand tinyone
						#myNavbar.collapse.navbar-collapse 
							ul.nav.navbar-nav.navbar-right
								li
									a(href="#") Feature
								li
									a(href="#") Support
								li
									a(href="#") Blog
				#myCarousel.carousel.slide(data-ride="carousel")
					ol.carousel-indicators
						li(data-target="#myCarousel" data-slide-to="0").active
						li(data-target="#myCarousel" data-slide-to="1")
						li(data-target="#myCarousel" data-slide-to="2")
					.carousel-inner
						.item.active
							.row
								.col-lg-4.col-md-4.col-sm-6.col-md-offset-1.col-xs-10.col-xs-offset-1
									.item--info
										h2 Inspire your inspiration
										h4 Simple to use for your app, products showcase and your inspirat
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit 
										ul.icons
											li
												i.fa.fa-apple.fa-4x
											li
												i.fa.fa-android.fa-4x
											li
												i.fa.fa-windows.fa-4x 
								.col-lg-4.col-md-4.col-md-offset-2.col-sm-5.hidden-xs
									.item--img
										img(src="img/slide--img.png" alt="img")
						.item
							.row
								.col-lg-4.col-md-4.col-sm-6.col-md-offset-1.col-xs-10.col-xs-offset-1
									.item--info
										h2 Inspire your inspiration
										h4 Simple to use for your app, products showcase and your inspirat
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit 
										ul.icons
											li
												i.fa.fa-apple.fa-4x
											li
												i.fa.fa-android.fa-4x
											li
												i.fa.fa-windows.fa-4x 
								.col-lg-4.col-md-4.col-md-offset-2.col-sm-5.hidden-xs
									.item--img
										img(src="img/slide--img.png" alt="img")
						.item
							.row
								.col-lg-4.col-md-4.col-sm-6.col-md-offset-1.col-xs-10.col-xs-offset-1
									.item--info
										h2 Inspire your inspiration
										h4 Simple to use for your app, products showcase and your inspirat
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit 
										ul.icons
											li
												i.fa.fa-apple.fa-4x
											li
												i.fa.fa-android.fa-4x
											li
												i.fa.fa-windows.fa-4x 
								.col-lg-4.col-md-4.col-md-offset-2.col-sm-5.hidden-xs
									.item--img
										img(src="img/slide--img.png" alt="img")
		mani
			.container
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.description
							h2 Tinyone features
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
				.row
					.col-lg-4.col-md-4.col-sm-6.col-xs-11
						.description--item
							.description--icon
								i.fa.fa-tablet.fa-5x
							.description--text
								h4 Fully Responsive
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
					.col-lg-4.col-md-4.col-sm-6.col-xs-11
						.description--item
							.description--icon
								i.fa.fa-lemon-o.fa-5x
							.description--text
								h4 Fully Layered PSD
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
					.col-lg-4.col-md-4.col-sm-6.col-xs-11
						.description--item
							.description--icon
								i.fa.fa-folder-o.fa-5x
							.description--text
								h4 Font Awesome Icons
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
					.col-lg-4.col-md-4.col-sm-6.col-xs-11
						.description--item
							.description--icon
								i.fa.fa-code.fa-5x
							.description--text
								h4 HTML3 & CSS3 
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
					.col-lg-4.col-md-4.col-sm-6.col-xs-11
						.description--item
							.description--icon
								i.fa.fa-envelope-o.fa-5x
							.description--text
								h4 Email Template
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
					.col-lg-4.col-md-4.col-sm-6.col-xs-11
						.description--item
							.description--icon
								i.fa.fa-bookmark-o.fa-5x
							.description--text
								h4 Free to download
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
		footer
			.container
				.row
					.col-lg-10.col-md-10.col-sm-10.col-xs-10.col-xs-offset-1
						.keep--in--touch
							h2 Keep in touch with us
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
						form
							input(type="text" placeholder="Enter your email to update").col-sm-8.col-xs-12.btn.btn-default.btn-lg
							input(type="submit" value="Submit").col-sm-3.col-sm-offset-1.col-xs-offset-4.col-xs-4.btn-lg.btn.btn-primary
				.links
					ul
						li
							i.fa.fa-facebook-square.fa-3x
						li
							i.fa.fa-twitter-square.fa-3x
						li
							i.fa.fa-google-plus-square.fa-3x
						li
							i.fa.fa-pinterest-square.fa-3x
				.row
					.col-lg-3.col-md-3.col-sm-8.col-xs-8
						.contact--info
							p HALOVIETNAM LTD
							p 66, Dang Van ngu, Dong Da
							p Hanoi, Vietnam
							p contact@halovietnam.com
							p +844 35149182
					.col-lg-1.col-md-1.col-sm-3.col-xs-3.col-xs-offset-1
						.link--group
							a(href="#") Examples 
							a(href="#") Shop
							a(href="#") License
					.clearfix.visible-sm-block.visible-xs-block
					.col-lg-1.col-md-1.col-sm-3.col-xs-3.col-xs-offset-1
						.link--group
							a(href="#") Contact     
							a(href="#") About
							a(href="#") Privacy
							a(href="#") Terms
					.col-lg-1.col-md-1.col-sm-3.col-xs-3.col-xs-offset-1
						.link--group
							a(href="#") Download  
							a(href="#") Support
							a(href="#") Documents
					.col-lg-1.col-md-1.col-sm-3.col-xs-3.col-xs-offset-1
						.link--group
							a(href="#") Media 
							a(href="#") Blog
							a(href="#") Forums
		script(src="js/libs.js")
